<% if product = Product.find_by(id: li.product_id) %>
  <% @cart_total += li.item_price_cents %>

  <tr>
    <td>
      <%= image_tag product.image.tiny %>
    </td>
    <td>
      <h4><%= product.name %></h4>
      <br>
    </td>
    <td>
      <%= product.price.to_f %>
    </td>
        <td>
      <%= li.quantity %>
    </td>
    <td>
      <%= li.item_price_cents.to_f/100 %>
    </td>
  </tr>
<% end %>
